.cal_wrap{
  width: 50%;
  height: 450px;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px; 
}
.calandar{   
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #008aff;
  }

.nav{
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.calandar> .nav> .current-date{
  font-size: 24px;
  font-weight: 600;
}
.nav> button{
  width: 38px;
  height: 38px;
  font-size: 10px;
  color:#878787;
}
.calandar> ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}
.calandar> .days li{
  font-weight: 500;
}
.calandar> .days {
  margin-bottom: 20px;
}
.calandar> ul >li{
  width:calc(100%/7);
  position: relative;
}
.dates{
  list-style: none;
}
.calandar> .dates> li{
  z-index: 1;
  margin-top: 30px;
  cursor: pointer;
}
.calandar> .dates> li >.inactive{
  color: #aaa;
}
.calandar> .dates> li>.active{
  color: #fff;
}
.calandar> .dates> li::before{
  position: absolute;
  content:'';
  height: 40px;
  width: 40px;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  z-index: -1;
}
.dates >li:hover::before{
  background: #f2f2f2;
}
.dates >li>.active::before{
  background: #008aff;
}